/*body, html {
  background-color: gray;
}
.OT_subscriber {
  float: left;
  margin-left: 1em;
}
.OT_publisher {
  float: left;
}
.error {
  color: red;
}*/

body, html {
  background-color: pink;
  height: 100%;
  font-family: Verdana, Geneva, sans-serif
}
.connectionStatus {
  padding-top: 20px;
  margin-left: 5%;
  font-size: 1.5em;
}
.OT_subscriber {
  margin-left: 10%;
}
.OT_publisher {
  float: right;
  margin-right: 10%;
}
.OTPublisherContainer {
  width: 80vh !important;
  height: 80vh !important;
}
#error {
  color: red;
}